* {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,"微软雅黑",Arial,sans-serif;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: auto;
}

#tabs {
  padding: 8px 8px 0;
  background: #dee1e6;
}

#tabs .tab-content {
  display: flex;
  height: 35px;
}

#tabs .tab {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 240px;
  background: #dee1e6;
  padding: 0 8px 0 12px;
  border-radius: 8px 8px 0 0;
  transition: background .2s linear;
}

#tabs .tab:not(.active):not(:hover):after {
  content: " ";
  position: absolute;
  right: 0;
  width: 1px;
  height: 20px;
  background: #a2a6ab;
  transition: background .2s linear;
}

#tabs .tab-favicon {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#tabs .tab-title {
  flex: 1;
  width: 1px;
  font-size: 12px;
  color: #5f6368;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#tabs .tab-close {
  width: 16px;
  height: 16px;
  padding: 1px;
  border-radius: 50%;
}

#tabs .tab-close:hover {
  background: #e8eaed;
}

#tabs .tab-close svg {
  width: 14px;
  height: 14px;
}

#tabs .tab:hover {
  margin-left: -1px;
  padding-left: 13px;
  background: #edeff1;
}

#tabs .tab.active {
  margin-left: -1px;
  padding-left: 13px;
  background: #FFF;
}

#tabs .add-tab {
  align-self: center;
  width: 28px;
  height: 28px;
  padding: 5px;
  margin: 0 8px;
  border-radius: 50%;
  transition: background .2s linear;
}

#tabs .add-tab:hover {
  background: #cbced3;
}

#tabs .add-tab:active {
  background: #bec0c6;
}

#tabs .add-tab svg {
  width: 18px;
  height: 18px;
}

#nav {
  display: flex;
  align-items: center;
  height: 37px;
  padding: 0 8px 0 4px;
  background: #FFF;
  border-bottom: 1px solid #b6b4b6;
}

#nav .op-btn {
  display: block;
  width: 28px;
  height: 28px;
  padding: 5px;
  margin: 0 4px;
  border-radius: 50%;
  transition: background .2s linear;
}

#nav .op-btn:hover {
  background: #eee;
}

#nav .op-btn:active {
  background: #e1e1e2;
}

#nav .op-btn svg {
  width: 18px;
  height: 18px;
}

#nav .address {
  flex: 1;
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 10px;
  border-radius: 14px;
  border: 2px solid transparent;
  background: #f1f3f4;
  transition: background .2s linear;
  cursor: text;
}

#nav .address:not(.active):hover {
  background: #e8eaed;
}

